<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head>
<meta charset="UTF-8">
<title>Role Edit</title>
</head>
<body>
	<section id="admin-content" class="p-3" layout:fragment="content">
		<h3 class="mb-4 text-center">Add role</h3>
		<p class="text-center" th:text=${message}></p>
		<form method="post" th:action="@{/cast/edit}" th:object="${cast}"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6 m-auto">
					<div class="form-group">
						<input type="hidden" th:field="*{pk}" class="form-control"
							placeholder="pk" />
					</div>
					<div class="form-group">
						<label>Actor</label> <input type="text" th:field="*{actor}"
							class="form-control" placeholder="name" />
					</div>
					<div class="form-group">
						<label>English actor</label> <input type="text" th:field="*{eng_actor}"
							class="form-control" placeholder="description" />
					</div>
					<div class="form-group">
						<label>Image</label> <input type="file" name="fileImage"
							id="fileImage" accept="image/png, image/jpeg" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Save</button>
						<a class="btn btn-secondary" th:href="@{/role}">Back</a>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>