<div id="side-bar" xmlns:th="http://www.thymeleaf.org"
	th:fragment="sidebar">
	<div class="logo">ADMIN PAGE</div>
	<ul class="list-group rounded-0">
		<li class="dashboard">DASHBOARD</li>
		<li><a href="/role"> <i class="fa fa-user mr-2"></i> Role manage
		</a></li>
		<li><a href="/user"> <i class="fa fa-user mr-2"></i> User manage
		</a></li>
		<li><a href="/movie"> <i class="fa fa-book mr-2"></i> Movie manage  
		</a></li>
		<li><a href="/cast"> <i class="fa fa-cogs mr-2"></i> Actor manage
		</a></li>
		<li><a href="/director"> <i class="fa fa-slack mr-2"></i> Director manage
		</a></li>
		<li><a href="/theater"> <i class="fa fa-slack mr-2"></i> Theater manage
		</a></li>
		
		
	</ul>
</div>